.customContainer {
    margin: 30px 0px;
    margin-left: 50px;
    margin-bottom: 80px;

    h3 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 15px;
    }
}

.explore__btn {
}
