.heroBanner {
    .slick-slide {
        opacity: 0.1;
        transition: 0.4s;

        // img {
        //     width: 100%;
        //     object-fit: cover;
        //     cursor: pointer;
        // }
    }

    .slick-center + .slick-slide {
        opacity: 1;
        box-shadow: 2px ​1px 106px 251px #000;
    }
}

.subBanner{
    .slick-slide {
        padding: 0px 5px;
        // img {
        //     width: 100%;
        //     object-fit: contain;
        //     cursor: pointer;
        // }
    }
}

.slides {
    position: relative;
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        z-index: 2;
    }
    .slick-prev {
        left: 5%;
    }
    .slick-next {
        right: 5%;
    }
}
