footer {
    padding: 30px 0px;
    padding-left: 50px;
    border-top: 1px solid #333;

    .footer-nav {

        li {
            &:nth-child(1) {
                a {
                    border-left: 0px !important;
                    padding-left: 0px !important;
                }
            }
            a {
                border-left: 1px solid #fff;
                padding: 2px 20px !important;
                font-size: 14px;
            }
        }
        * {
            color: #fff !important;
        }
    }

    .copyRight {
        color: #333;
        margin: 15px 0px;
    }
    .social{
        span{
            margin-right: 25px;
            font-size: 26px;
            color: #fff;
            cursor: pointer;
            position: relative;
            top: 6px;

            &.mr-3{
                margin-right: 40px;
            }
        }
        img{
            border: 1px solid #fff;
            margin-right: 15px;
            border-radius: 3px;
            width: 150px;
            cursor: pointer;

            &:nth-child(1){
                margin-left: 40px;
            }
        }
    }
}
